{
  "extends": ["eslint-config-airbnb-base/legacy", "prettier"],
  "plugins": ["mocha"],
  "rules": {
    "func-names": "off"
  },
  "overrides": [
    {
      "files": ["**/test/**"],
      "env": {
        "mocha": true
      }
    }
  ]
}
