{
  "extends": ["eslint-config-airbnb-base/legacy", "prettier"],
  "plugins": ["mocha", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "func-names": "off",
    "no-multi-assign": "off",
    "vars-on-top": "off",
    "no-underscore-dangle": "warn",
    "no-prototype-builtins": "warn",
    "no-use-before-define": "warn",
    "no-loop-func": "warn",
    "no-restricted-syntax": "warn",
    "no-restricted-globals": "warn",
    "no-continue": "off",
    "consistent-return": "warn",
    "no-shadow": "warn",
    "no-plusplus": "off",
    "no-template-curly-in-string": "warn",
    "no-useless-escape": "warn"
  },
  "overrides": [
    {
      "files": ["**/test/**"],
      "env": {
        "mocha": true
      }
    }
  ]
}
