version: 2
jobs:
  setup:
    docker:
      - image: circleci/node:10-browsers
    steps:
      - run:
          name: Checkout code
          command: checkout
      - restore_cache:
          key: deps-{{ checksum "yarn.lock" }}
      - run:
          name: Authenticate npm
          command: npm config set "//registry.npmjs.org/:_authToken" $NPM_AUTH
      - run:
          name: Install
          command: yarn install --frozen-lockfile
      - save_cache:
          key: deps-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - persist_to_workspace:
          root: .
          paths: [.]

  lint:
    docker:
        - image: circleci/node:10-browsers
    steps:
      - attach_workspace: { at: . }
      - restore_cache:
          key: deps-{{ checksum "yarn.lock" }}
      - run:
          name: Run Linter (not enforcing for now)
          command: yarn lint

  test:
    docker:
        - image: circleci/node:10-browsers
    steps:
      - attach_workspace: { at: . }
      - restore_cache:
          key: deps-{{ checksum "yarn.lock" }}
      - run:
          name: Run Tests
          command: yarn test

  test_saucelabs:
    docker:
      - image: circleci/node:10-browsers
    steps:
      - attach_workspace: { at: . }
      - restore_cache:
          key: deps-{{ checksum "yarn.lock" }}
      - run:
          name: Run Tests
          command: yarn test:ci

  test_snyk:
    docker:
      - image: circleci/node:10-browsers
    steps:
      - attach_workspace: { at: . }
      - restore_cache:
          key: deps-{{ checksum "yarn.lock" }}
      - run:
          name: Snyk Setup
          command: curl -sL https://raw.githubusercontent.com/segmentio/snyk_helpers/master/initialization/snyk.sh | sh

  publish:
    docker:
      - image: circleci/node:10-browsers
    steps:
      - attach_workspace: { at: . }
      - restore_cache:
          key: deps-{{ checksum "yarn.lock" }}
      - run:
          name: Authenticate npm
          command: npm config set "//registry.npmjs.org/:_authToken" $NPM_AUTH
      - run:
          name: Publish packages
          command: yarn lerna publish from-package --yes

workflows:
  version: 2
  test:
    jobs:
      - setup:
          context: npm
      - lint:
          requires:
            - setup
      - test:
          requires:
            - setup
      - test_saucelabs:
          requires:
            - test
            - setup
      - test_snyk:
          context: snyk
          requires:
            - setup
      - publish:
          context: npm
          requires:
            - test
            - test_saucelabs
            - test_snyk
          filters:
            branches:
              only: master
