doctype html
html(lang="en")
    head
        title Analytics JS (by Segment)
        script(src= url)
    body
        h1 Hi there!
        p
            button(onclick='analytics.track(\'Test Event\', { prop: true })') Track!
